@import 'variables.css';

body, html{
    margin: 0;
    font-size: var(--font-size-small);
    font-family: var(--primary-font);
    font-weight: var(--font-weight-regular);
}

#app-container{
    display: flex;
    flex-direction: column;
    /*min-height: var(--min-app-height);*/
    min-width: calc(var(--mobile-breakpoint-width) - 1px);
    max-width: var(--max-app-width);
    margin: auto;
}

#header{
    flex-basis: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#title{
    margin: auto;
    font-weight: var(--font-weight-black);
    font-size: var(--font-size-xl);
    color: var(--off-black);
}

#title span:last-child{
    color: var(--red);
}

#main{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    margin-left: 70px;
}

.level{
    display: flex;
}

#l1{
    flex-basis: 70px;
    align-items: center;
}

#l2{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

#l3{
    flex-basis: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Minor adjustments */
.full-height{
    height: 100vh;
}

.disable-select {
    user-select: none;
}

.disable-focus:focus{
    outline: none;
}

.center{
    margin: auto;
}

.rotate-image-right {
    transform: rotate(90deg);
}

.rotate-image-left{
    transform: rotate(-90deg);
}

.rotate-image-upside-down {
    transform: rotate(180deg);
}

.hide{
    display: none;
}

.invisible{
    visibility: hidden;
}

.drop-shadow {
    /* horizontal offset, vertical offset, blur radius, spread radius, color */
    box-shadow: 2px -2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* Scrolls */

/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
    border-radius: 3px;
    /*margin-bottom: 15px;*/
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-grey);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--grey);
}

.blue-scrollbar::-webkit-scrollbar-track {
    background-color: var(--white);
    border-radius: 3px;
}

.blue-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 3px;
}

.blue-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-blue);
}

.red-scrollbar::-webkit-scrollbar-track {
    background-color: var(--dark-red);
    border-radius: 3px;
}

.red-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--off-white);
    border-radius: 3px;
}

.red-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-grey);
}

@media (max-width: 700px) and (orientation: portrait){
    #app-container{
        min-width: 100vw;
    }
    #main{
        margin-left: 10px;
        margin-right: 10px;
    }
    #header{
        flex-basis: 72px;
    }
}
