@import 'variables.css';

body, html{
    margin: 0;
    font-size: var(--font-size-small);
    font-family: var(--primary-font);
    font-weight: var(--font-weight-regular);
}

#app-container{
    display: flex;
    flex-direction: column;
    /*align-items: stretch;*/
    height: 100vh;
    min-height: 500px;
    max-height: 580px;
    max-width: 1500px;
}

#header{
    /*background-color: gray;*/
    /*height: 100px;*/
    flex-basis: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#title{
    margin: auto;
    font-weight: var(--font-weight-black);
    font-size: var(--font-size-xl);
    color: var(--off-black);
}

#title span:last-child{
    color: var(--red);
}

#main{
    /*background-color: #007bff;*/
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 20px;
}

.level{
    /*border: 2px solid lightseagreen;*/
    display: flex;
}

#l1{
    flex-basis: 50px;
    align-items: center;
}

#l2{
    flex: 1;
    align-items: center;
}

#l3{
    flex-basis: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.disable-select {
    user-select: none;
}

/*TODO: Move*/
.square-button{
    height: 50px;
    width: 100px;
    background: var(--blue);
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-family: var(--primary-font);
    font-weight: var(--font-weight-semi-bold);
    cursor: pointer;
}
