.language-dropdown{
    width: 100%;
}

.language-dropdown-header{
    padding: 8px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
}

.ld-options-container{
    max-height: 150px; /* Customize the maximum height of the dropdown options */
}

.ld-options-container--input {
    background-color: var(--off-white);
}

.ld-options-container--output {
    background-color: var(--red);
}


.language-dropdown-option{
    text-align: center;
}
