/*TODO: Move reused elements to custom-dropdown.css*/
.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 200px; /* Customize the width of the dropdown */
}

.language-dropdown-header{
    padding: 8px;
}

.language-dropdown-options-container{
    background-color: #fff;
}



.language-dropdown-option{

}
