@import '../../../shared/styles/variables.css';

/*font-size: var(--font-size);*/

#translator-container{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    min-height: 300px;
    max-height: 412px;
    max-width: 1500px;
}

#translator-container--main{
    height: 100%;
    width: 100%;
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /*align-items: center;*/
    flex: 1;
}
#translator-container--bottom
{
    flex-basis: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#switch-languages-button{
    margin: auto;
}

.translator-card{
    flex: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*padding: 10px;*/
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 5px;
}

.input-card-container {
    background-color: var(--off-white);
}

.output-card-container {
    background-color: var(--red);
    color: var(--white);
}

.translator-card--textarea{
    flex: 1;
    resize: none;
    background: none;
    font-family: var(--primary-font);
    font-size: var(--font-size-small);
    padding: 0.7em;
    line-height: 24px;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
}

.translator-card--spinner {
    margin-left: 20px;
    margin-top: 10px;
}

.translator-card--textarea-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    /*background-color: blue;*/
}

.translator-card--loader-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    /*background-color: blue;*/
}

.translator-card--textarea{
    flex: 1;
    /*background-color: yellow;*/
}

.translator-card--textarea-btns{
    flex-basis: 50px;
    /*background-color: green;*/
}

.translator-card--textarea:focus{
    /*outline: 2px solid var(--light-grey);*/
}

.translator-card--textarea::placeholder{
    color: var(--grey);
}

.translator-card--textarea--output {
    color: var(--white);
}

.translator-card--icon-container{
    flex-basis: 50px;
    display: flex;
    margin-right: 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 3px;
}

.tc--icon-char-container{
    text-align: center;
    color: var(--grey);
    font-size: var(--font-size-xs);
}

.tc--icon-char-container-max{
    color: var(--red);
}
